@{
    ViewData["Title"] = "Find My Workspace";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}

<div class="main-content">
    <div class="text-content">
        <h1>Find the <i>workspace</i> that works for you</h1>
        <a asp-controller="Locations" class="cta-button">Find Locations</a>
    </div>
    <div class="image-content">
        <img src="~/img/workspace-illustration.png" alt="Workspace Illustration">
    </div>
</div>