@{
    ViewData["Title"] = "Privacy Policy";
}


@section Styles {
    <link rel="stylesheet" href="~/css/specific-page.css">
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
