/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B5563;
    color: white;
    padding: 20px 10px;
    width: 100%;
}

.logo-container {
    padding: 5px 0;
}

.logo {
    height: auto;
    max-width: 250px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold; 
}

    .navbar-links a:hover {
        text-decoration: underline;
    }

/* Style for the footer */
footer {
    background-color: #0B5563;
    color: white;
    text-align: left;
    padding: 20px 10px;
    width: 100%;
}

.divider {
    border: 0;
    height: 2px; 
    background-color: #CCCCCC; 
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Style for the hero section */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px
}

.text-content h1 {
    font-size: 3rem; 
    color: #333;
    margin-bottom: 20px;
}

.text-content .highlight {
    color: #007bff;
}

.cta-button {
    background-color: #0B5563;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

    .cta-button:hover {
        background-color: #0056b3;
    }

.image-content img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 150px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .image-content {
        margin-top: 20px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #CCCCCC;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.add-location-button {
    background-color: #0B5563;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.add-location-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-location-button {
        margin-top: 10px;
    }
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 0;
}

.team-member {
    margin: 1em;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    width: calc(50% - 2em);
    box-sizing: border-box;
}

    .team-member img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        margin-bottom: 1em;
    }

.team-info {
    text-align: left;
}

.data-model-container {
    text-align: center;
    padding: 2em 0;
}

    .data-model-container img {
        max-width: 100%;
        height: auto;
    }

#github-repo {
    text-align: center;
    padding: 2em 0;
}


.review-form h2 {
    padding: 10px 0;
}

.review-form label {
    display: block;
    margin-top: 10px;
}

.review-form input,
.review-form textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.review-form button {
    padding: 10px 20px;
    background-color: #0B5563;
    color: white;
    border: none;
    cursor: pointer;
}

.reviews-table table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 50px;
}

.reviews-table th {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
}

.reviews-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.reviews-chart {
    padding: 50px;
}
